:root {
  --primary: #6610f2;
}

.top-bar {
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.btn-light {
  background-color: #fff !important;
  border-color: #dee2e6;
  color: #212529;
}

.btn-light i {
  color: var(--primary);
}

.bg-primary,
.btn-primary {
  background-color: var(--primary) !important;
}

.navbar-brand {
  color: var(--primary);
}
